<div id="phase-cut-in" class="phase-cut-in-container hidden" 
     data-game--animation-target="phaseCutIn">
  <div class="phase-bg"></div>
  <div class="phase-text" data-game--animation-target="phaseText">PHASE NAME</div>
</div>
