<p>
  以下のリンクからパスワードの再設定を行ってください。<br>
  <%= link_to "パスワード再設定ページへ", edit_password_url(@user.password_reset_token) %>
</p>

<p>
  このリンクの有効期限は <%= distance_of_time_in_words(0, @user.password_reset_token_expires_in) %> です。
</p>
