<div class="auth-form__header">
  <h2 class="auth-form__title"><%= title %></h2>
  <% if sanity_indicator.present? %>
    <div class="sanity-indicator"><%= sanity_indicator %></div>
  <% end %>
</div>
