<div class="user_profile">
  <div class="user_profile__avatar-container">
    <%= image_tag "lobby/default_avatar.jpg", class: "user_profile__avatar", alt: "#{user.name} のアバター" %>
    <div class="user_profile__status-indicator"></div>
  </div>
  <div class="user_profile__info">
    <div class="user_profile__name"><%= user.name %></div>
    <%= link_to "ログアウト", session_path, data: { turbo_method: :delete }, class: "user_profile__logout" %>
  </div>
</div>
