<% if flash[:alert].present? %>
  <div class="flash flash--alert" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice].present? %>
  <div class="flash flash--notice" role="status">
    <%= flash[:notice] %>
  </div>
<% end %>
